@{
    ViewData["Title"] = "Documentation";
}
<h1 class="pagetitle">@ViewData["Title"]</h1>

<p id="infotext">Dedicated Server For Pipebmx multiplayer mod using:</p>
<p> * ASP .NET 6</p>
<p> * Razor </p>
<p> * Docker </p>
<p> * Riptide Networking library</p>
<p> * NewtonSoft Json library</p>
<p> * System.Numerics.Vectors</p>
<p> * Javascript <p>
    
   <p>Intergrated Mods:</p>
   <p>* TheGarage By VolutionModding<p/>
   <p>* Patcha MapLoader by VolutionModding</p>
