@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://image.api.playstation.com/cdn/EP1158/CUSA13683_00/vHZtrOtEt8TmZF8MicO1fRLfb2BOy0mK.png" height="500" />
    <h1 class="display-4" id="d4">@FrostyPipeServer.ServerFiles.Servermanager.config.Servername</h1>
</div>
 